*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	box-sizing:border-box;
}
@font-face{
	font-family: "grndst";
	src: url('typo/Grandstander-Black.ttf');
	font-weight: 900;
}
@font-face{
	font-family: "grndst";
	src: url('typo/Grandstander-Regular.ttf');
	font-weight: 400;
}
@font-face{
	font-family: "grotesk";
	src: url('typo/SpaceGrotesk-Bold.ttf');
	font-weight: 900;
}
body{
	font-family: "grotesk", sans-serif;
	/*background: #FFE8C8;
	color: #002657;*/
}
h1,h2,h3,h4,h5,a{
	font-family: "grndst";
	color: black;
	text-transform: uppercase;
}
p{
	font-family: "grotesk";
}
nav{
	position: fixed;
	width: 100%;
	z-index: 999;
	background: lightgrey;
	padding-bottom: 50px;
}
nav ul{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-rows: 100px;
	text-align: center;
	font-family: "grndst";
	font-weight: 900;
	font-size: 1.5em;
	margin-top: 10px;
}
nav ul li{
	align-self: center;
	/*-webkit-text-stroke: 1.5px #002657; 
	color: #FFAF68;*/
}
nav ul li hover{
	-webkit-text-stroke: 2px black; 
}
nav li img{
	width: 150px;
}
.lng {
	font-weight: 400;
	cursor:pointer;
}
.active{
	font-weight: 900 !important;
}
#menuBtn{
	cursor:pointer;
	display: none;
}
#menu{
	width: 80%;
	top: 0px;
	margin: 0 auto;
	font-family: "grndst";
	font-weight: 900;
	color: black;
	text-align: center;
	z-index: 998;
	display: block;
	height: 20px;

}
.submenu{
	position: absolute;
	left: 0px;
	background: lightgrey;
	display: none;
	line-height: 1.5em;
	padding-top: 10px;
}
#menu li{
	margin-bottom: 1.3em;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
#menu li ul{
	display: none;
	color: black;
}
#menu li:hover .submenu{
	display: block;
}
#cont{
	width: 70%;
	margin: 0 auto;
}
.spacer{
	height: 200px;
	width: 100%;
}

/*--slider--*/

.slideshow-container {
	min-height: 400px;
	height: 20vw;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-bottom: 50px;
}
.slideshow-container h1{
	position: absolute;
	font-size: 4em;
	top: 40%;
	z-index: 99;
	word-break: keep-all;
	text-align: center;
	width: 100%;
}
.mySlides{
	width: 100%;
	height: 100%;
}

.mySlides img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}
section p{
	margin: 0 auto;
	margin-top: 10px;
	font-size: 1.2em;
	max-width: 600px;

}
section{
	margin-bottom: 50px;
}
.gridText{
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	column-gap: 50px;
	row-gap: 50px;
	margin-bottom: 50px;
}
.gridText p{
	width: 100%!important;
}
.form{
	height: 400px;
	width: 100%;
	background: grey;
	margin: 20px auto 0 auto;
}
.grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.grid .item{
	background: grey;
	margin: 10px;
	min-height: 300px;
}
.grid .item img{
	width: 100%;
	object-fit: cover;
	z-index: 0;
}
section h1{
	text-align: center;
	width: 100%;
	font-size: 3em;
}
section img{
	max-height: 500px;
	object-fit: cover;
	width: 100%;
}
footer{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
footer ul{
	margin-top: 20px;
}
footer li img{
	max-height: 50px;
}


@media only screen and (max-width: 500px) {
	#menuBtn{
		display: inline-block;
	}
}